<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Category</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>New Category</h1>
<div th:if="${session.loggedUtente != null}">
    <div th:if="${#authentication == null or #authorization.expression('hasRole(''ADMIN'')')}" >
        <a th:href="@{/categoria/nuova}">Create new category</a>
    </div>
</div>

<form th:action="@{/categoria/crea}" th:object="${categoria}" method="post">
    <label>Category name:</label>
    <input type="text" th:field="*{nome}" required />
    <br/>
    <label>Category description:</label>
    <input type="text" th:field="*{nome}" required />
    <br/>
    <button type="submit">Create Category</button>
</form>

<a th:href="@{/evento/evento-lista}">Go back to Events</a>
</body>
</html>