<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
 <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="header">Welcome to WonderTicket</div>
		<div>
		<img th:src="@{/images/maple.jpg}" alt="Decorazione sinistra"
			class="side-image left"><img th:src="@{/images/maple.jpg}"
			alt="Decorazione destra" class="side-image right">
	</div>
	<div class="container">

		<h2>Register</h2>

		<!-- Messaggi flash -->
		<div th:if="${success}" style="color: green;" th:text="${success}"></div>
		<div th:if="${error}" style="color: red;" th:text="${error}"></div>

		<form th:action="@{/register}" th:object="${utente}" method="post">
			<label class="register-form-field">Username: <input type="text" th:field="*{username}"
				required />
			</label> 
			<label class="register-form-field">Email: <input type="email" th:field="*{email}"
				required />
			</label> 
			<label class="register-form-field">Password: <input type="password"
				th:field="*{password}" required />
			</label>
			<button type="submit">Register</button>
		</form>

		<p>
			Do you already have an account? <a th:href="@{/login}">Login</a>
		</p>
	</div>
	<div class="footer">
		<p>Call us: +39 333 1234567 | Email: support@wonderticket.com</p>
	</div>
</body>
</html>
